/*

$mainfont: 'helveticaneue';
$headersfont: 'TrebuchetMS';
$notesfont: 'Arialmt';
$additionalfont: 'Georgia Italic';
$bgcolor: #F7F7F7;
$bgcolor_articles: #FFF;
$linkscolor: #547ACD;
$border: 1px solid #EBEBEB;
$sideborder: 1px solid #E3E3E3;
$contrastcolor: #E979DE;
$spacing: 20px;
$mainfontsize: 13px;

*/
body {
  background-color: #f6faf9; }
  body .inline-table {
    display: inline-table; }
  body .table {
    display: table; }
  body .cell {
    display: table-cell;
    vertical-align: middle; }

.header, .footer {
  background-color: #30202b;
  color: #f6faf9; }
  .header h1, .footer h1 {
    font-family: "Dancing Script", cursive; }

.header__search, .header__account {
  background-color: #d9c3b0;
  color: #2d394d;
  margin-top: 40px;
  margin-bottom: 2px;
  border-radius: 2px;
  height: 30px; }
  .header__search span, .header__account span {
    float: right; }

.header a {
  color: #f6faf9;
  text-decoration: none; }

.navbar li:hover {
  background-color: #e7e7e7; }

.footer {
  margin-top: 20px;
  margin-bottom: 0; }
  .footer .author {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px; }

/* CONTENT HOME */
.content__bg-quote {
  width: 100%;
  height: 430px;
  background-image: url("../images/bg.jpg");
  margin-bottom: 20px; }
  .content__bg-quote .col-md-4 {
    height: 100%;
    background: rgba(48, 10, 10, 0.4); }
  .content__bg-quote .content__quote {
    height: 209px;
    width: 360px;
    color: #f6faf9;
    font-size: 46px;
    padding: 40px;
    font-family: "Dancing Script", cursive; }

.content__articles {
  margin-top: 20px;
  padding-left: 40px;
  position: relative; }
  .content__articles .over {
    width: 40px;
    background-color: #30202b;
    color: #f6faf9;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0;
    z-index: 1;
    padding-top: 30px;
    font-size: 16px; }
  .content__articles .articles__first-row .article {
    margin-bottom: 20px; }
  .content__articles .article {
    border: 1px solid black;
    height: 140px;
    padding-left: 0;
    padding-right: 0;
    color: white;
    text-shadow: 1px 1px 1px black; }
    .content__articles .article .cover {
      background: rgba(45, 57, 77, 0.6);
      position: absolute;
      height: 100%;
      width: 100%;
      font-size: 20px;
      text-align: center; }
  .content__articles .article-secrets {
    background-image: url("../images/news/14.jpg");
    background-size: cover;
    background-repeat: none;
    position: relative; }
  .content__articles .article-restaurants {
    background-image: url("../images/news/8.jpe");
    background-size: cover;
    background-repeat: none; }
  .content__articles .article-healthy {
    background-image: url("../images/news/4.jpg");
    background-size: cover;
    background-repeat: none; }
  .content__articles .article-trends {
    background-image: url("../images/news/3.jpg");
    background-size: cover;
    background-repeat: none; }

.content__tops {
  padding-right: 0;
  margin-top: 20px;
  position: relative; }
  .content__tops-over {
    height: 40px;
    background-color: #30202b;
    color: #f6faf9;
    position: absolute;
    top: -20px;
    left: 120px;
    right: 120px;
    z-index: 1;
    letter-spacing: 4px;
    font-size: 16px; }

.carousel-caption {
  text-shadow: 1px 1px 1px black;
  font-size: 20px; }

/* CONTENT FAVOURITES */
.recipe {
  height: 200px;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative; }
  .recipe-name {
    margin-bottom: 0; }
  .recipe .over-top {
    height: 40px;
    background-color: #d394ae;
    color: #2d394d;
    position: absolute;
    top: -20px;
    left: 20px;
    right: 20px;
    z-index: 1; }
  .recipe .over-bottom {
    height: 40px;
    background-color: #d394ae;
    color: #2d394d;
    position: absolute;
    bottom: -20px;
    left: 40px;
    right: 40px;
    z-index: 1; }

/* CONTENT CREATE */
.send {
  background-color: #30202b;
  color: #f6faf9; }

.nav {
  width: 100%; }

.nav > li {
  width: 20%;
  text-align: center; }
