<div class="container">
    <div class="row">
        <form role="form">
                <div class="form-group">
                    <label for="recipeName">Name of recipe</label>
                    <input type="text" class="form-control" placeholder="Type the name" ng-model="name">
                </div>
              
                <div class="form-group">
                    <label for="exampleInputFile">Add an image</label>
                    <input type="file" id="loadImage" ng-model="image" accept="image/*" app-filereader>
                </div>

                <div class="form-group">
                    <label for="recipeIngredients">Ingredients</label>
                    <textarea class="form-control" rows="3" ng-model="ingredients"></textarea>
                </div>

                <div class="form-group">
                    <label for="recipePreparation">Preparation</label>
                    <textarea class="form-control" rows="3" ng-model="preparation"></textarea>
                </div>

                <button type="submit" class="btn btn-default save" ng-click="saveRecipe()">Save</button> 
        </form>
    </div>
</div>