<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="recipe in recipes">
        <!--
            <a ng-href="#/recipe/{{recipe.id}}" class="recipe" style="background-image: url({{recipe.image}})">
        -->
            <a href="javascript:void()" class="recipe" ng-click="openRecipe(recipe.id)" style="background-image: url({{recipe.image}})">
                <div class="over-top">
                    <p class="recipe-name text-center">{{recipe.name}}</p>
                </div>
                <div class="over-bottom">
                    <p class="text-center">Added: {{recipe.date}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
