<div class="container">
    <div class="row">
        <div class="col-md-3" ng-repeat="recipe in recipes">
            <div class="recipe" ng-click="openRecipe()">
                <div class="over-top">
                    <p>{{recipe.title}}</p>
                    <p>Added: {{recipe.date}}</p>
                </div>
                <img ng-src="{{recipe.image}}" alt="">
                <div class="over-bottom">
                    <span>Liked</span>
                    <span>Tested</span>
                </div>
            </div>
        </div>
    </div>
</div>
