<div class="container">
    <div class="row space">
        <div class="col-sm-4 text-center recipe-image">
            <img src="{{recipe.image}}" alt="">
        </div>
        <div class="col-sm-8">
            <h1 class="underline">{{recipe.name}}</h1>
            <p><b>Recipe Ingredients:</b></p>
            <p class="underline">{{recipe.ingredients}}</p>
            <p><b>Recipe Preparation:</b></p>
            <p>{{recipe.preparation}}</p>
            <div class="buttons">
                <button class="btn btn-default edit" ng-click="edit()">Edit</button>
                <button class="btn btn-default edit" ng-click="previousVersion()">Previous version</button>
            </div> 
        </div>   
    </div>
</div>