body {
    background-color: $primary-color;
    .inline-table {
        display: inline-table;
    }
    .table {
        display: table;
    }
    .cell {
        display: table-cell;
        vertical-align: middle;
    }
}


.header, .footer {
    background-color: $primary-bg-color;
    color: $primary-color;
    h1 {
        font-family: $headersfont;
    }
}
.header__search, .header__account {
    background-color: #d9c3b0;
    color: #2d394d;
    margin-top: 40px;
    margin-bottom: 2px;
    border-radius: 2px;
    height: 30px;
    span {
        float: right;
    }
}
.header {
    a {
        color: $primary-color;
        text-decoration: none;
    }
}
.navbar li {
    &:hover {
        background-color: $menu-hover-color;
    }
}

.footer {
    margin-top: $spacing;
    margin-bottom: 0;
    .author {
        color: rgba(255, 255, 255, .5);
        font-size: 12px;
    }
}

/* CONTENT HOME */
.content__bg-quote {
    width: 100%;
    height: 430px;
    background-image: url('../images/bg.jpg');
    margin-bottom: $spacing;
    .col-md-4 {
        height: 100%;
        background: rgba(48, 10, 10, 0.4);
    }
    .content__quote {
        height: 209px;
        width: 360px;
        color: $primary-color;
        font-size: 46px;
        padding: $spacing*2;
        font-family: $headersfont;
    }
}
.content__articles {
    margin-top: $spacing;
    padding-left: $spacing*2;
    position: relative;
    .over {
        width: $spacing*2;
        background-color: $primary-bg-color;
        color: $primary-color;
        position: absolute;
        top: $spacing;
        bottom: $spacing;
        left: 0;
        z-index: 1;
        padding-top: 30px;
        font-size: 16px;
    }
    .articles__first-row .article {
        margin-bottom: 20px;
    }
    .article {
        border: 1px solid black;
        height: 140px;
        padding-left: 0;
        padding-right: 0;
        color: white;
        text-shadow: 1px 1px 1px black;

        .cover {
            background: rgba(45, 57, 77, 0.6);
            position: absolute;
            height: 100%;
            width: 100%;
            font-size: 20px;
            text-align: center;
        }
    }
    .article-secrets {
        background-image: url('../images/news/14.jpg');
        background-size: cover;
        background-repeat: none;
        position: relative;
    }
    .article-restaurants {
        background-image: url('../images/news/8.jpe');
        background-size: cover;
        background-repeat: none;
    }
    .article-healthy {
        background-image: url('../images/news/4.jpg');
        background-size: cover;
        background-repeat: none;
    }
    .article-trends {
        background-image: url('../images/news/3.jpg');
        background-size: cover;
        background-repeat: none;
    }
}
.content__tops {
    padding-right: 0;
    margin-top: $spacing;
    position: relative;
    &-over {
        height: $spacing*2;
        background-color: $primary-bg-color;
        color: $primary-color;
        position: absolute;
        top: -$spacing;
        left: 120px;
        right: 120px;
        z-index: 1;
        letter-spacing: 4px;
        font-size: 16px;
    }
}
.carousel-caption {
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
}
.content__quote {
    // text-shadow: 1px 1px 1px black;
}

/* CONTENT FAVOURITES */

.recipe {
    height: 200px;
    border: 1px solid black;
    margin-top: $spacing;
    margin-bottom: $spacing*2;
    padding-right: $spacing;
    padding-left: $spacing;
    position: relative;
    &-name {
        margin-bottom: 0;
    }
    .over-top {
        height: $spacing*2;
        background-color: #d394ae;
        color: #2d394d;
        position: absolute;
        top: -$spacing;
        left: $spacing;
        right: $spacing;
        z-index: 1;
    }
    .over-bottom {
        height: $spacing*2;
        background-color: #d394ae;
        color: #2d394d;
        position: absolute;
        bottom: -$spacing;
        left: $spacing*2;
        right: $spacing*2;
        z-index: 1;
    }
}

/* CONTENT CREATE */
.send {
    background-color: $primary-bg-color;
    color: $primary-color;
}
