$primary-bg-color: #30202b;
// $primary-bg-color: #2d394d;
$primary-color: #f6faf9;
$menu-hover-color: #e7e7e7;
$spacing: 20px;
$headersfont: 'Kaushan Script', cursive;   // 3
$headersfont: 'Akronim', cursive;   // 6
$headersfont: 'Dancing Script', cursive;  // 1






/*

$mainfont: 'helveticaneue';
$headersfont: 'TrebuchetMS';
$notesfont: 'Arialmt';
$additionalfont: 'Georgia Italic';
$bgcolor: #F7F7F7;
$bgcolor_articles: #FFF;
$linkscolor: #547ACD;
$border: 1px solid #EBEBEB;
$sideborder: 1px solid #E3E3E3;
$contrastcolor: #E979DE;
$spacing: 20px;
$mainfontsize: 13px;

*/