$primary-bg-color: #30202b;
// $primary-bg-color: #2d394d;
$primary-color: #f6faf9;
$menu-hover-color: #e7e7e7;
$spacing: 20px;
$headersfont: 'Dancing Script', cursive;  // 1






/*
$border: 1px solid #EBEBEB;
$mainfontsize: 13px;

*/